---
import Container from 'components/Container';
import ResponsiveImage from 'components/ResponsiveImage';
import Button from 'components/Button';
import Paragraph from 'components/Paragraph';
import SimpleList from 'components/SimpleList';
import { HERO_IMAGES } from 'constants/images';

const { HERO_BANNER, CLOCK_ICON, LOCATION, CALENDAR, SHIELD } = HERO_IMAGES;
---

<section class="bg-hero-mobile dark:bg-tertiary-15 dark:bg-none bg-no-repeat bg-cover md:bg-hero-tablet lg:bg-hero-desktop">
  <Container className="pt-[94px] lg:pt-32">
    <div class="flex flex-col mb-[43px] pt-8 md:mb-[39px] lg:flex-row lg:justify-between lg:pt-[83px] xl:mb-0">
      <div class="flex flex-col xs:max-w-full sm:max-w-[375px] md:max-w-[502px] xl:max-w-hero-content">
        <Paragraph
          className="sm:font-bold text-secondary mb-5 md:mb-10"
          type="description"
          tag="p"
          title="Get Vaccinated. Boost your Immune System"
        />
        <Paragraph
          className="mb-5 md:mb-10 lg:mb-[50px] xs:max-w-full sm:max-w-[276px] sm:min-h-[87px] md:max-w-[414px] lg:max-w-[552px]"
          type="main_heading"
          tag="h1"
          id="main-heading"
        >
          COVID-19 Vaccination Got Easier With, <span class="text-secondary xs:w-full sm:min-w-[191px] sm:min-h-[29px] md:w-full">Vaccination.ng</span>
        </Paragraph>
        <Paragraph
          className="sm:text-sm text-white/70 dark:text-primary mb-10 xs:max-w-full sm:max-w-[271px] sm:min-h-[51px] md:max-w-[502px] lg:max-w-[603px] lg:mb-[50px]"
          type="sub_heading"
          tag="p"
          title="Vaccination.ng will help you find the nearest centre for vaccination, in all 36 states in Nigeria."
        />
        <div class="flex gap-5 mb-[50px] md:mb-[55px] lg:mb-0 md:justify-start">
          <Button
            id="btn-get-vaccine"
            type="secondary"
            className="h-[50px] rounded-[20px] shadow-[0px_4px_4px_0px_rgba(0,0,0,0.25)] xs:w-full sm:w-[138px] sm:h-[50px] md:h-[64px] md:w-[175px] md:text-xl lg:text-2xl lg:h-[69px] lg:w-[200px]"
          >
            Get Vaccine
          </Button>
          <Button
            id="btn-help-centre"
            className="dark:bg-transparent h-[50px] rounded-[20px] border-2 border-secondary shadow-[0px_4px_4px_0px_rgba(0,0,0,0.25)] xs:w-full sm:w-[138px] sm:h-[50px] sm:px-5 md:h-[64px] md:w-[175px] md:text-xl lg:text-2xl lg:w-[200px] lg:h-[69px] md:px-5"
          >
            Help Centre
          </Button>
        </div>
      </div>
      <ResponsiveImage
        className="flex justify-center"
        alt="Hero"
        width={{
          default: '306px',
          mobile: '306px',
          mobile2x: '306px',
          tablet: '622px',
          desktop: '617px',
        }}
        height={{
          default: '309px',
          mobile: '309px',
          mobile2x: '309px',
          tablet: '617px',
          desktop: '617px',
        }}
        url={HERO_BANNER}
      />
    </div>
    <div class="flex gap-2.5 items-center mb-5 md:gap-5 md:mb-8 lg:mb-2.5">
      <div class="dark:bg-primary flex items-center justify-center w-[30px] h-[30px] rounded-[10px] bg-darker md:w-[50px] md:h-[50px]">
        <ResponsiveImage
          alt="Clock"
          width={{
            default: '20px',
            mobile: '20px',
            mobile2x: '40px',
            tablet: '30px',
          }}
          height={{
            default: '20px',
            mobile: '20px',
            mobile2x: '40px',
            tablet: '30px',
          }}
          url={CLOCK_ICON}
        />
      </div>
      <p class="font-bold text-sm leading-base md:text-2xl">
        Schedule your Vaccination
      </p>
    </div>
    <div class="bg-tertiary-5 border-tertiary-5 pt-[11px] rounded-card-md">
      <div
        class="flex flex-col gap-[17px] w-full rounded-card-md bg-tertiary-10 dark:bg-tertiary-50 px-2.5 pt-6 pb-2.5 md:flex-row md:flex-wrap md:justify-between md:gap-[31px] md:pt-[41px] md:px-3 md:pb-[45px] lg:px-10 lg:py-[50px] xl:flex-nowrap"
      >
        <SimpleList
          title="Location"
          description="Ikeja Lagos, Nigeria"
          imageAlt="Map pin"
          imageWidth={{
            default: '20px',
            mobile: '20px',
            mobile2x: '40px',
            tablet: '30px',
          }}
          imageHeight={{
            default: '20px',
            mobile: '20px',
            mobile2x: '40px',
            tablet: '30px',
          }}
          imageUrl={LOCATION}
        />
        <SimpleList
          title="Date"
          description="29 February, 2022"
          imageAlt="Calendar"
          imageWidth={{
            default: '20px',
            mobile: '20px',
            mobile2x: '40px',
            tablet: '30px',
          }}
          imageHeight={{
            default: '20px',
            mobile: '20px',
            mobile2x: '40px',
            tablet: '30px',
          }}
          imageUrl={CALENDAR}
        />
        <SimpleList
          title="Vaccine Type"
          description="Mordena"
          imageAlt="Shiel"
          imageWidth={{
            default: '20px',
            mobile: '20px',
            mobile2x: '40px',
            tablet: '30px',
          }}
          imageHeight={{
            default: '20px',
            mobile: '20px',
            mobile2x: '40px',
            tablet: '30px',
          }}
          imageUrl={SHIELD}
        />
        <div class="md:w-schedule-content-md xxl:w-fit">
          <Button type="secondary" className="dark:bg-transparent dark:border-[3px] dark:border-secondary rounded-[10px] flex justify-center w-[150px] h-[50px] mt-1 md:text-xl md:w-[253px] md:h-[64px] md:rounded-[20px] lg:text-2xl lg:w-[142px] lg:h-[69px]">
            Submit
          </Button>
        </div>
      </div>
    </div>
  </Container>
</section>
