---
  import Container from 'components/Container';
  import ResponsiveImage from 'components/ResponsiveImage';
  import { SECTION } from 'constants/navigation';
  import { LOGO } from 'constants/images';

  export interface HeaderProps {
    className?: string;
  }
---

<header class="absolute w-full">
  <Container>
    <!-- Nav-menu -->
    <nav class="relative flex items-center justify-between header-menu pt-[50px] pb-8 lg:py-[41px]">
      <!-- Logo -->
      <div class="flex flex-row items-center justify-between w-full h-[45px] lg:w-[251px]">
        <a href="./" class="header-nav-logo">
          <ResponsiveImage alt="Vaccination Logo" url={LOGO.PRIMARY} width={{ default: '200px' , mobile: '200px' ,
            mobile2x: '400px' , tablet: '200px' , desktop: '251px' , }} height={{ default: '31px' , mobile: '31px' ,
            mobile2x: '62px' , tablet: '35px' , desktop: '44px' , }} imageClass="cursor-pointer dark:hidden" />
          <ResponsiveImage alt="Vaccination Logo" url={LOGO.SECONDARY} width={{ default: '200px' , mobile: '200px' ,
            mobile2x: '400px' , tablet: '200px' , desktop: '251px' , }} height={{ default: '31px' , mobile: '31px' ,
            mobile2x: '62px' , tablet: '35px' , desktop: '44px' , }} imageClass="cursor-pointer hidden dark:block" />
        </a>
        <!-- Button toggler -->
        <div id="nav-toggle"
          class="flex justify-center w-[45px] h-[45px] rounded-[10px] bg-toggle border-toggle dark:bg-primary lg:hidden">
          <button aria-label="open-menu-mobile" id="open-btn" class="lg:hidden">
            <img width="30px" height="30px" src="assets/images/svg/open-menu.svg" alt="Button Open Menu">
          </button>
          <button id="close-btn" class="hidden lg:hidden">
            <img width="30px" height="30px" src="assets/images/svg/close-menu.svg" alt="Button Close Menu">
          </button>
        </div>
      </div>
      <ul
        class="dark:text-gray-500 font-menium text-navbar hidden lg:text-text-reversal lg:flex lg:justify-center lg:gap-[15px] xl:gap-[25px] lg:text-2xl lg:px-1 nav-list">
        <li class="flex flex-col items-center">
          <a class="nav-item font-bold text-white dark:text-primary" href={SECTION.HOME}>Home</a>
          <span class="w-[10px] h-[10px] bg-secondary border-secondary rounded-full border"></span>
        </li>
        <li class="w-[98px]">
          <a class="nav-item hover:text-white hover:font-bold dark:hover:text-primary" href={SECTION.SERVICES}>Services</a>
        </li>
        <li class="w-[114px]">
          <a class="nav-item hover:text-white hover:font-bold dark:hover:text-primary" href={SECTION.SCHEDULE}>Schedule</a>
        </li>
        <li class="w-[140px]">
          <a class="nav-item hover:text-white hover:font-bold dark:hover:text-primary" href={SECTION.CONTACT}>Contact us</a>
        </li>
      </ul>
      <!-- Button toggle dark/light theme -->
      <button aria-label="button-theme-toggle" id="theme-toggle" type="button"
        class="absolute top-[50px] right-[60px] lg:right-[174px] xl:mr-[30px] xxl:mr-14 text-gray-500 dark:text-gray-400 bg-tertiary-5 dark:bg-transparent dark:border-[3px] dark:border-secondary focus:outline-none rounded-lg p-2.5 w-[46px] h-[46px] flex justify-center items-center md:rounded-[15px]">
        <svg id="theme-toggle-dark-icon" class="hidden w-5 h-5">
          <image xlink:href="assets/images/svg/moon.svg" class="w-5 h-5" />
        </svg>
        <svg id="theme-toggle-light-icon" class="hidden w-5 h-5">
          <image xlink:href="assets/images/svg/sun.svg" class="w-5 h-5" />
        </svg>
      </button>
      <a class="bg-tertiary-10 dark text-2xl leading-base text-secondary font-bold rounded-[20px] hidden lg:ml-[50px] lg:py-5 lg:px-[17px] xl:px-[26px] xl:ml-0 lg:block shadow-[0px_4px_4px_0px_rgba(0,0,0,0.25)] lg:text-lg xxl:text-2xl dark:border-[3px] dark:border-secondary"
        href={SECTION.CHECKSTATUS}>
        Check Status
      </a>
      <!-- Mobile menu, show/hide based on menu state. -->
    </nav>
    <!-- Navbar menu mobile -->
    <div
      class="absolute hidden insert-0 left-0 top-32 h-screen bg-overlay bg-opacity-50 overflow-y-auto h-full w-full lg:hidden"
      id="modal">
      <div class="relative mx-auto border bg-white lg:hidden">
        <ul class="px-[35px] font-medium text-primary nav-list">
          <li class="py-3 border-b border-border-primary">
            <a class="block" href={SECTION.HOME}>Home</a>
          </li>
          <li class="py-3 border-b border-border-primary">
            <a class="block" href={SECTION.SERVICES}>Services</a>
          </li>
          <li class="py-3 border-b border-border-primary">
            <a class="block" href={SECTION.SCHEDULE}>Schedule</a>
          </li>
          <li class="py-3 border-b border-border-primary">
            <a class="block" href={SECTION.CONTACT}>Contact us</a>
          </li>
        </ul>
        <a href={SECTION.CHECKSTATUS}
          class="bg-primary block font-bold text-secondary py-[20px] rounded-[20px] w-fit py-tiny px-[26px] mx-[35px] mt-3 mb-[21px] md:block hover:bg-primary-40 shadow-[0px_4px_4px_0px_rgba(0,0,0,0.25)]">
          Check Status
        </a>
      </div>
    </div>
  </Container>
  <script defer>
    const modal = document.getElementById('modal');
    const openBtn = document.getElementById('open-btn');
    const closeBtn = document.getElementById('close-btn');
    // Click show navbar mobile
    openBtn.onclick = function () {
      modal?.classList.toggle('hidden');
      openBtn?.classList.add('xs:hidden');
      closeBtn?.classList.add('xs:block');
    };
    // Click hide navbar mobile
    closeBtn.onclick = function () {
      modal?.classList.toggle('hidden');
      openBtn?.classList.remove('xs:hidden');
      closeBtn?.classList.remove('xs:block');
    };
    //Click all modal and menu
    window.onclick = function (event) {
      if (event.target == modal) {
        modal?.classList.toggle('hidden');
        openBtn?.classList.remove('xs:hidden');
        closeBtn?.classList.remove('xs:block');
      }
    };
  </script>
</header>
