---
import Container from 'components/Container';
import ResponsiveImage from 'components/ResponsiveImage';
import { SECTION } from 'constants/navigation';
import { SOCIAL_LINKS } from 'constants/social';
---

<footer class="min-h-[351px] md:min-h-[500px] bg-footer-mobile bg-no-repeat bg-cover md:bg-footer-tablet lg:bg-footer-desktop">
  <Container>
    <div class="min-h-[351px] pt-[41px] pb-[30px] flex flex-col justify-end gap-[15px] md:gap-10 md:pb-[54px] md:min-h-[500px] lg:flex-row lg:justify-between lg:pb-[113px] lg:items-end">
      <a href="./">
        <ResponsiveImage
          alt="Vaccination Logo"
          url={{
            default: 'assets/images/svg/logo-default.svg',
            mobile: 'assets/images/svg/logo-mobile.svg',
            mobile2x: 'assets/images/svg/logo-mobile.svg',
            tablet: 'assets/images/svg/logo-tablet.svg',
            desktop: 'assets/images/svg/logo-desktop.svg',
          }}
          width={{
            default: '200px',
            mobile: '200px',
            mobile2x: '400px',
            tablet: '200px',
            desktop: '251px',
          }}
          height={{
            default: '31px',
            mobile: '31px',
            mobile2x: '62px',
            tablet: '35px',
            desktop: '44px',
          }}
          imageClass="cursor-pointer"
        />
      </a>
      <ul
        class="flex flex-col gap-1 md:flex-row md:gap-[25px] md:text-xl font-menium text-navbar text-sm leading-base lg:justify-center lg:gap-[25px] lg:text-2xl lg:p-[5px] xl:p-2.5"
      >
        <li class="py-1">
          <a class="font-bold text-white" href={SECTION.HOME}>Home</a>
        </li>
        <li class="py-1">
          <a class="hover:text-white" href={SECTION.SERVICES}>Services</a>
        </li>
        <li class="py-1">
          <a class="hover:text-white" href={SECTION.SCHEDULE}>Schedule</a
          >
        </li>
        <li class="py-1">
          <a class="hover:text-white" href={SECTION.CONTACT}>Contact us</a>
        </li>
      </ul>
      <div class="flex flex-row gap-2 md:gap-[7px] lg:gap-2.5">
        <a target="_blank" href={SOCIAL_LINKS.Youtube}>
          <ResponsiveImage
            alt="Youtube"
            url={{
              default: 'asssets/images/svg/youtube.svg',
              mobile: 'assets/images/svg/youtube.svg',
              mobile2x: 'assets/images/svg/youtube.svg',
              tablet: 'assets/images/svg/youtube-tablet.svg',
              desktop: 'assets/images/svg/youtube-desktop.svg',
            }}
            width={{
              default: '25px',
              mobile: '25px',
              mobile2x: '50px',
              tablet: '32px',
              desktop: '50px',
            }}
            height={{
              default: '25px',
              mobile: '25px',
              mobile2x: '50px',
              tablet: '32px',
              desktop: '50px',
            }}
            imageClass="cursor-pointer"
          />
        </a>
        <a target="_blank" href={SOCIAL_LINKS.Instagram}>
          <ResponsiveImage
            alt="Instagram"
            url={{
              default: 'assets/images/svg/instagram.svg',
              mobile: 'assets/images/svg/instagram.svg',
              mobile2x: 'assets/images/svg/instagram.svg',
              tablet: 'assets/images/svg/instagram-tablet.svg',
              desktop: 'assets/images/svg/instagram-desktop.svg',
            }}
            width={{
              default: '25px',
              mobile: '25px',
              mobile2x: '50px',
              tablet: '32px',
              desktop: '50px',
            }}
            height={{
              default: '25px',
              mobile: '25px',
              mobile2x: '50px',
              tablet: '32px',
              desktop: '50px',
            }}
            imageClass="cursor-pointer"
          />
        </a>
        <a target="_blank" href={SOCIAL_LINKS.Twitter}>
          <ResponsiveImage
            alt="Twitter"
            url={{
              default: 'assets/images/svg/twitter.svg',
              mobile: 'assets/images/svg/twitter.svg',
              mobile2x: 'assets/images/svg/twitter.svg',
              tablet: 'assets/images/svg/twitter-tablet.svg',
              desktop: 'assets/images/svg/twitter-desktop.svg',
            }}
            width={{
              default: '25px',
              mobile: '25px',
              mobile2x: '50px',
              tablet: '32px',
              desktop: '50px',
            }}
            height={{
              default: '25px',
              mobile: '25px',
              mobile2x: '50px',
              tablet: '32px',
              desktop: '50px',
            }}
            imageClass="cursor-pointer"
          />
        </a>
        <a target="_blank" href={SOCIAL_LINKS.Facebook}>
          <ResponsiveImage
            alt="Facebook"
            url={{
              default: 'assets/images/svg/facebook.svg',
              mobile: 'assets/images/svg/facebook.svg',
              mobile2x: 'assets/images/svg/facebook.svg',
              tablet: 'assets/images/svg/facebook-tablet.svg',
              desktop: 'assets/images/svg/facebook-desktop.svg',
            }}
            width={{
              default: '25px',
              mobile: '25px',
              mobile2x: '50px',
              tablet: '32px',
              desktop: '50px',
            }}
            height={{
              default: '25px',
              mobile: '25px',
              mobile2x: '50px',
              tablet: '32px',
              desktop: '50px',
            }}
            imageClass="cursor-pointer"
          />
        </a>
      </div>
    </div>
  </Container>
</footer>
